.cardImagem {
    background: no-repeat center;
    background-size: cover;
    height: 250px;
    width: 27vw;
    border-radius: 10px;
}
.CardLocal{
    h2{
    color:black;
    font-size: 20px;
}
}
.CardRoteiros{
    width: 28vw;

}