.cardImagem {
    background: no-repeat center;
    background-size: cover;
    height: 250px;
    width: 28vw;
    border-radius: 10px;
}
.CardLocal{
    h2{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color:black;
        font-size: 2rem;
        font-family: 'Contrail One', sans-serif;
}
}
.CardRoteiros{
    width: 28vw;

}

@media only screen and (max-width: 525px){
    .cardImagem{
        width: 97vw;
        height: 190px;
    }
}