:root{
    --primary: #3acbf7;
}
.btn {
   
    outline: none;
    border: none;
    cursor: pointer;
}
.btn:hover{
    transition: all 0.3s ease-out;
    color: #3acbf7;
    transition: 250ms;
}
.btn--primary {
    background-color: transparent;
}
.btn--outline {
    background: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}
.btn--medium{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 38px;
    color: #fff;
}
.btn--large{
   padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff; 
}