.navBar {
    
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    .logo{
        display: block;
        padding: auto;
        width: 10%;
    }
    .nav {
        color:rgb(0, 255, 13);
        display: flex;
        list-style: none;
        align-items: right;
        .navLinks{
            font-family: 'Contrail One', cursive;
            font-size: 2rem;
            color:#363E59;
        }
    }
}

@media only screen and (max-width: 770px){
    .navBar{
        .nav{
            .navLinks{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 370px){
    .navBar{
        .nav{
            .navLinks{
                font-size: 12px;
            }
        }
    }
}
