.navConheca{
    background-color: #F2F4F1;
    color: #363E59;
    width: 75%;
    padding: 0px;
    margin: -20px auto 0;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.imageConheca{
    display: flex;
    justify-content: center;
    margin: auto;
}