.footer {
    background: url(../../../public/footer/backFooter.png)  no-repeat center;
    background-size: cover;
    width: 100%;
    height:150px;
    padding: 10px;
    font-family: 'Contrail One', cursive;
    font-size: 14px;
    color: white;

    .footerContainer{
        display: flex;
        width: 90%;
        max-width: 1920px;
        height: 80px;
        margin: 10px auto 0;
        justify-content: space-between;
        
    }
    .footerLinks{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .footerInfo{
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: 1rem;
        
    }
    .footerSocial{
        width: 15%;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        
    }

    .Autorais {
        
        width: 90%;
        max-width: 1920px;
        height: 20px;
        margin: 0px auto;
        text-align: right;
        color: white;
        font-size: 12px;
        border-top: 1px solid rgba(84, 102, 96, 0.637);
       
    } 
}

@media only screen and (max-width: 750px){
    .footer{
        .footerInfo{
            font-size: 15px;
        }
        .footerSocial{
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 375px){
    .footer{
        .footerInfo{
            font-size: 12px;
        }
        .footerSocial{
            font-size: .6rem;
        }
        .Autorais{
            font-size: 8px;
        }
    }
}
