.cardImagem {
    background: no-repeat center;
    background-size: cover;
    height: 250px;
    width: 40vw;
    border-radius: 10px;
}
.ArticleRegioes{
    display: flex;
    width: 90%;
    max-width: 1920px;
    margin: 0px auto;
    padding: 20px;
    .TextArticleRegioes{
        color:black;
        font-size: 22px;
        margin-left: 20px;
        margin-right: 20px;

    }
    

}

@media (max-width: 450px) {
    .ArticleRegioes{
        display: block;
        color: black;
        .TextArticleRegioes{
            p{
                font-size: 14px;
                margin: 10px auto;
              
            }

        }
        .cardImagem {
            width: 250px;
            height: 250px;
            margin: 0 auto;
            border-radius: 10px;

        }
    }
   
    
}