.TitleSection{
    height: 80px;
    text-align: center;
    align-items: center;
    padding:20px auto;
    width: 400px;
    position: relative;
    top: -70px;
    background-color: rgb(255, 255, 255);
    display: table-cell;
    vertical-align: middle;
    h2{
        font-family: 'Contrail One', cursive;
        font-size: 28px;
    }
}